<?xml version="1.0"?>
<launch>

    <!-- ===================================================== -->
    <!-- Task Frames -->
    <!-- ===================================================== -->

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="task_frame"
        args="0 0 0.10 0 0 0 world task_frame 30"/>

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="target_frame"
        args="0.30 0 0.10 0 0 0 world target_frame 30"/>

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="goal_frame"
        args="0.60 0 0.10 0 0 0 world goal_frame 30"/>

</launch>